.time-style {
  font-size: 12px;
}

.content-style {
  font-size: 15px;
}

.color-chat {
  background-color: #47484A;
  border-radius: 8px;
  border-bottom: 2px solid #adadad;
  position: relative;
}

.color-chat small {
  color: #ccc;
}

.message-color {
  color: #bebebe;
  opacity: 1;
}

.hover-bg:hover {
  background-color: #2a2a2a;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
