<div class="d-flex flex-column right-body">

  <!-- Encabezado -->
  <div class="d-flex justify-content-end">
    <h3 class="mt-2">
      Intrachat
    </h3>
  </div>

  <hr>

  <!-- Buscador -->
  <div class="mb-1">
    <input type="text"
      class="form-control bg-secondary text-white border-0 rounded-pill px-3 py-2 shadow-sm search-input"
      placeholder="Buscar chat o contacto">
  </div>

  <hr>

  <!-- Filtro para buscar chats -->
  <div class="text-end">
    <div class="btn-group" role="group">
      <chip-menu [element]="'Todos'" [isActive]="true" />
      <chip-menu [element]="'Privados'" />
      <chip-menu [element]="'Grupos'" />
      <chip-menu [element]="'Canales'" [isLast]="true" />
    </div>
  </div>

  <hr>

  <!-- Lista de últimos chats -->
  <div class="flex-grow-1 overflow-auto pe-2 list-chats">

    @for (chat of chats; track $index) {
      <recent-message-content [chat]="chat" (idContactValue)="emitValue($event)"/>
    }

  </div>

  <hr>

</div>
