<article class="ms-5 me-5 mt-4">

  <h3 class="mt-2">Gestionar Usuarios</h3>

  <hr>

  <div class="row">
    <section class="col-4">
      <div class="input-group">
        <input class="form-control" type="text" name="filtro" placeholder="Filtro de búsqueda">
        <button class="btn btn-success" type="button">Buscar</button>
      </div>
    </section>

    <section class="col-2">
      <button class="btn btn-secondary" type="button">Quitar filtros</button>
    </section>

    <section class="col-3 d-flex justify-content-end">
      <button type="button" class="btn btn-primary">Nuevo Usuario</button>
    </section>

    <section class="col-3 d-flex justify-content-end gap-2">
      <select #dpState class="form-select" id="view-filter-lst" (change)="changeState(dpState.value)">
        <option value="1" selected>Mostrar activos</option>
        <option value="2">Mostrar inactivos</option>
      </select>
      <div class="rounded-circle" [class.bg-success]="showActives()" [class.bg-danger]="!showActives()"style="width: 45px; height: 40px;"></div>
    </section>
  </div>


  <hr>

  <table class="table text-center">
    <thead class="table-light">
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Usuario</th>
        <th scope="col">Tipo</th>
        <th scope="col">Numero de documento</th>
        <th scope="col">Correo electrónico</th>
        <th scope="col">Celular</th>
        <th scope="col">Ultima modificación</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (user of dataPaginated()?.result; track user.id) {
      <tr>
        <th scope="row">{{ $index + 1 }}</th>
        <td>{{ `${user.nombres} ${user.apellidos}` }}</td>
        <td>{{ user.tipoDoc }}</td>
        <td>{{ user.numeroDoc }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.celular }}</td>
        <td>{{ user.ultimaModificacion | date: 'dd/MM/yyyy' }}</td>
        <td>
          <i class="bi bi-eye-fill" (click)="showInfo(user.id)"></i>
          <i class="bi bi-pencil" (click)="showModalEdit(user.id)"></i>
          <i class="bi bi-trash-fill" (click)="showModalDelete(user.id)"></i>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <hr>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a href="#" class="page-link" aria-label="Previous" [class.disabled]="dataPaginated()?.page == 1">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      @for (num of [].constructor(dataPaginated()?.totalPages); track $index) {
      <li class="page-item" [class.active]="$index + 1 == dataPaginated()?.page">
        <a href="#" class="page-link">{{ $index + 1 }}</a>
      </li>
      }
      <li class="page-item">
        <a href="#" class="page-link" aria-label="Next"
          [class.disabled]="dataPaginated()?.totalPages == dataPaginated()?.page">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <hr>

</article>
