.icon-theme {
  width: 37px;
  height: 40px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 25px;
  background-color: #3f4245;
}

.icon-theme:hover {
  background-color: #6c757d;
}

.active {
  background-color: #6c757d;
}
