<style>
  /* Input style */
  .input-personalized {
    background-color: #1e1f22 !important;
    color: #e0e0e0 !important;
    border: 1px solid #424a51 !important;
  }

  .input-personalized::placeholder {
    color: #a1aeba;
  }

  .input-personalized:focus {
    background-color: #2b2d31;
    color: #fff;
    border-color: #198754;
    /* Verde Bootstrap */
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
  }
</style>

<div class="input-group">
  <input
    #txtFilter
    class="form-control input-personalized"
    type="text"
    name="filtro"
    placeholder="Filtro de búsqueda"
    [value]="value()"
    (input)="value.set(txtFilter.value)"
    (keydown.enter)="emitValue.emit(txtFilter.value)"
  />
  <button
    class="btn btn-success"
    (click)="emitValue.emit(txtFilter.value)"
    type="button"
  >
    Buscar
  </button>
</div>

<!--
<input
  #txtFilter
  class="form-control input-personalized"
  type="text"
  name="filtro"
  placeholder="Filtro de búsqueda"
  [value]="filter()"
  (input)="filter.set(txtFilter.value)"
  (keydown.enter)="setFilterPaginated()"
>

<button
  class="btn btn-success"
  (click)="setFilterPaginated()"
  type="button">
  Buscar
</button>
-->
