<!-- Modal -->
<div
  #modalElement
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
  >
  <div
    class="modal-dialog modal-dialog-centered"
    [class.modal-lg]="isSizeLg()"
    [class.modal-xl]="isSizeXL()"
    [class.modal-fullscreen-xxl-down]="isFullScreenInXXL()"
    >
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ titleModal() }}</h5>
      </div>

      <div class="modal-body">
        @switch (typeModal()) {
          @case ('post') {

            @switch (typeEntity()) {
              @case ('user') {
                <user-add-layout
                  (closeModal)="close(!$event)"
                  (dataForm)="dataForm.emit($event)"
                  />
              }
            }

          }
          @case ('edit') {

            @switch (typeEntity()) {
              @case ('user') {

              }
            }

          }
          @default {
            <p>
              {{ messageModal() }}
              <strong>
                {{ objectToAction() }}
              </strong>
            </p>
            <p class="text-muted">
              {{ messageSecondaryModal() }}
            </p>
          }
        }
      </div>

      @if (typeModal() == 'delete' || typeModal() == 'restore') {
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="close(false)">
          Cancelar
        </button>
        @if (typeModal() == 'delete') {
          <button
            type="button"
            class="btn btn-danger"
            (click)="close(true)"
            >
            Si, quiero deshabilitarlo
          </button>
        } @else {
          <button
            type="button"
            class="btn btn-primary"
            (click)="close(true)"
            >
            Si, quiero habilitarlo
          </button>
        }
      </div>
      }
    </div>
  </div>
</div>


<!--
data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"

          <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar">
        </button>

  <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-success">
          Guardar
        </button>
      </div>
-->
