<main class="row layout">
  <article class="col-auto panel-left py-3 px-2" style="width: 64px">
    <icon-menu
      [iconName]="'fa-message'"
      [description]="'Todos los mensajes'"
      [isActive]="true"
    />
    <icon-menu
      class="mt-2"
      [iconName]="'fa-people-group'"
      [description]="'Mensajes de grupos'"
      [isActive]="false"
    />
    <icon-menu
      class="mt-2"
      [iconName]="'fa-people-arrows'"
      [description]="'Mensajes privados'"
      [isActive]="false"
    />

    <div class="mt-auto footer-icons">
      <icon-menu
        [iconName]="'fa-user'"
        [description]="'Mi cuenta'"
        [isActive]="false"
      />
      <icon-menu
        class="mt-2"
        [iconName]="'fa-arrow-right-from-bracket'"
        [description]="'Cerrar sesión'"
        [isActive]="false"
      />
    </div>
  </article>

  <article
    class="col bg-dark panel-middle"
    [class.contacts]="true"
    [class.col-auto]="true"
    [class.col]="false"
  >
    <h4 class="header">Mensajes</h4>
    <div class="search">
      <input
        #txtFilter
        class="form-control input-personalized"
        type="text"
        name="filtro"
        placeholder="Buscar chat o contacto"
      />
    </div>

    <div class="contacts-recently">
      <chat-recently [dataMessageRecently]="dataMemory"/>
      <chat-recently [dataMessageRecently]="dataMemory"/>
      <chat-recently [dataMessageRecently]="dataMemory"/>
      <chat-recently [dataMessageRecently]="dataMemory"/>
      <chat-recently [dataMessageRecently]="dataMemory"/>
      <chat-recently [dataMessageRecently]="dataMemory"/>
      <chat-recently [dataMessageRecently]="dataMemory"/>
      <chat-recently [dataMessageRecently]="dataMemory"/>
      <chat-recently [dataMessageRecently]="dataMemory"/>
      <chat-recently [dataMessageRecently]="dataMemory"/>
      <chat-recently [dataMessageRecently]="dataMemory"/>
      <chat-recently [dataMessageRecently]="dataMemory" [isLast]="true"/>
    </div>
  </article>

  <article class="d-none d-lg-block col panel-right">
    <router-outlet />
  </article>
</main>

<style>
  .layout {
    margin: 0;
    color: white;

    display: flex;
    height: 100vh;
  }

  .panel-left {
    border-right: 1px solid #adadad5e;
    background-color: #1b1e22;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-icons {
    display: flex;
    flex-direction: column;
  }

  .panel-right {
    background: #212529;
  }

  .panel-middle {
    border-right: 1px solid #adadad5e;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .contacts {
    width: 450px;
  }

  .header {
    padding: 22px;
    text-align: center;
    border-bottom: 1px solid #adadad5e;
  }

  .search {
    margin-top: 22px;
    margin-bottom: 15px;

    padding-bottom: 22px;
    border-bottom: 1px solid #adadad5e;
  }

  /* Input style */
  .input-personalized {
    background-color: #3f4245;
    color: #e0e0e0;
    border: none;
  }

  .input-personalized::placeholder {
    color: #a1aeba;
  }

  /*
  .content-chats {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  display: flex;
    flex-direction: column;
    overflow-y: auto;

    max-height: calc(80vh - 60px);
    padding-right: 5px;
  */

  .contacts-recently {
    flex: 1;
    padding-right: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 15px;
  }
</style>

<!--
<main class="row m-0 vh-100">

  <section class="col-auto bg-primary" style="width: 70px;">
    a
  </section>

  <section class="d-none d-lg-block col bg-secondary">
    b
  </section>

  <section class="col-auto bg-warning" style="width: 480px;">
    c
  </section>

</main>
-->
