<main class="row m-0 vh-100 text-white">

  <section
    class="col-auto d-flex flex-column align-items-center panel-left py-3 px-2"
    style="width: 64px;">

    <icon-menu
      [iconName]="'fa-message'"
      [description]="'Todos los mensajes'"
      [isActive]="true"
      />
    <icon-menu
      class="mt-2"
      [iconName]="'fa-people-group'"
      [description]="'Mensajes de grupos'"
      [isActive]="false"
      />
    <icon-menu
      class="mt-2"
      [iconName]="'fa-people-arrows'"
      [description]="'Mensajes privados'"
      [isActive]="false"
      />

    <div
      class="mt-auto d-flex flex-column align-items-center"
      >
      <icon-menu
        [iconName]="'fa-user'"
        [description]="'Mi cuenta'"
        [isActive]="false"
        />
      <icon-menu class="mt-2"
        [iconName]="'fa-arrow-right-from-bracket'"
        [description]="'Cerrar sesión'"
        [isActive]="false"
        />
    </div>

  </section>

  <section
    class="col bg-dark panel-middle d-flex flex-column"
    [class.contacts]="true"
    [class.col-auto]="true"
    [class.col]="false"
    >

    <div>
      <h4 class="header">Mensajes</h4>
      <div class="search">
        <input
          #txtFilter
          class="form-control input-personalized"
          type="text"
          name="filtro"
          placeholder="Buscar chat o contacto">
        <!--
        <div class="mt-3">
          <chip-menu [element]="'Todos'" [isActive]="true"/>
          <chip-menu [element]="'Individuales'"/>
          <chip-menu [element]="'Grupos'" [isLast]="true"/>
        </div>
        -->
      </div>

      <div class="content-chats">
        <div class="contacts-recently">

        <div class="row contact-element">
          <div class="col-2">
            <img
              style="border-radius: 15px;"
              width="55px"
              src="intrachat.png"
              alt="user-image"
              >
          </div>

          <div class="col" #contenido>
            <div class="row">
              <div class="col-8" #nombre>
                Juan Perez
              </div>
              <div class="col text-end" #hora>
                11:52pm
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                oyee responde pzzz
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <div class="row contact-element">
          <div class="col-2">
            <img
              style="border-radius: 15px;"
              width="55px"
              src="intrachat.png"
              alt="user-image"
              >
          </div>

          <div class="col" #contenido>
            <div class="row">
              <div class="col-8" #nombre>
                Juan Perez
              </div>
              <div class="col text-end" #hora>
                11:52pm
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                oyee responde pzzz
              </div>
            </div>
          </div>
        </div>

        <div class="row contact-element">
          <div class="col-2">
            <img
              style="border-radius: 15px;"
              width="55px"
              src="intrachat.png"
              alt="user-image"
              >
          </div>

          <div class="col" #contenido>
            <div class="row">
              <div class="col-8" #nombre>
                Juan Perez
              </div>
              <div class="col text-end" #hora>
                11:52pm
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                oyee responde pzzz
              </div>
            </div>
          </div>
        </div>

        <div class="row contact-element">
          <div class="col-2">
            <img
              style="border-radius: 15px;"
              width="55px"
              src="intrachat.png"
              alt="user-image"
              >
          </div>

          <div class="col" #contenido>
            <div class="row">
              <div class="col-8" #nombre>
                Juan Perez
              </div>
              <div class="col text-end" #hora>
                11:52pm
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                oyee responde pzzz
              </div>
            </div>
          </div>
        </div>

        <div class="row contact-element">
          <div class="col-2">
            <img
              style="border-radius: 15px;"
              width="55px"
              src="intrachat.png"
              alt="user-image"
              >
          </div>

          <div class="col" #contenido>
            <div class="row">
              <div class="col-8" #nombre>
                Juan Perez
              </div>
              <div class="col text-end" #hora>
                11:52pm
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                oyee responde pzzz
              </div>
            </div>
          </div>
        </div>

        <div class="row contact-element">
          <div class="col-2">
            <img
              style="border-radius: 15px;"
              width="55px"
              src="intrachat.png"
              alt="user-image"
              >
          </div>

          <div class="col" #contenido>
            <div class="row">
              <div class="col-8" #nombre>
                Juan Perez
              </div>
              <div class="col text-end" #hora>
                11:52pm
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                oyee responde pzzz
              </div>
            </div>
          </div>
        </div>

        <div class="row contact-element">
          <div class="col-2">
            <img
              style="border-radius: 15px;"
              width="55px"
              src="intrachat.png"
              alt="user-image"
              >
          </div>

          <div class="col" #contenido>
            <div class="row">
              <div class="col-8" #nombre>
                Juan Perez
              </div>
              <div class="col text-end" #hora>
                11:52pm
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                oyee responde pzzz
              </div>
            </div>
          </div>
        </div>

        <div class="row contact-element">
          <div class="col-2">
            <img
              style="border-radius: 15px;"
              width="55px"
              src="intrachat.png"
              alt="user-image"
              >
          </div>

          <div class="col" #contenido>
            <div class="row">
              <div class="col-8" #nombre>
                Juan Perez
              </div>
              <div class="col text-end" #hora>
                11:52pm
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                oyee responde pzzz
              </div>
            </div>
          </div>
        </div>

        <div class="row contact-element">
          <div class="col-2">
            <img
              style="border-radius: 15px;"
              width="55px"
              src="intrachat.png"
              alt="user-image"
              >
          </div>

          <div class="col" #contenido>
            <div class="row">
              <div class="col-8" #nombre>
                Juan Perez
              </div>
              <div class="col text-end" #hora>
                11:52pm
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                oyee responde pzzz
              </div>
            </div>
          </div>
        </div>
        <!--  -->

      </div>
      </div>
    </div>

  </section>

  <section class="d-none d-lg-block col panel-right">
    b
  </section>

</main>

<style>
  .panel-left {
    border-right: 1px solid #adadad5e;
    background-color: #1b1e22;
  }

  .panel-right {
    background: #212529
  }

  .panel-middle {
    border-right: 1px solid #adadad5e;
  }

  .contacts {
    width: 450px;
  }

  .header {
    padding: 22px;
    text-align: center;
    border-bottom: 1px solid #adadad5e;
  }

  .search {
    margin-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #adadad5e;
  }

  /* Input style */
  .input-personalized {
    background-color: #3f4245;
    color: #e0e0e0;
    border: none;
  }

  .input-personalized::placeholder {
    color: #a1aeba;
  }

  .content-chats {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .contacts-recently {
    flex: 1;
    overflow-y: auto;
    max-height: calc(80vh - 60px);
    padding-right: 5px;
  }

  .contact-element {
    background-color: #2d3134;

    padding-top: 10px;
    padding-bottom: 10px;

    margin-right: 1px;
    margin-left: 1px;

    border-bottom: 1px solid #adadad5e;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    margin-bottom: 7px;
  }

  .contact-element:hover {
    background-color: rgba(100, 100, 100, 0.369);
    cursor: pointer;
  }
</style>


<!--
<main class="row m-0 vh-100">

  <section class="col-auto bg-primary" style="width: 70px;">
    a
  </section>

  <section class="d-none d-lg-block col bg-secondary">
    b
  </section>

  <section class="col-auto bg-warning" style="width: 480px;">
    c
  </section>

</main>
-->
