.icons-btn {
  margin-right: 15px;
}

.btn-account {
  color: white;
  background: #0d6efd;
  margin: 5px 15px 10px 15px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  font-size: 17px;
}

.btn-account:hover {
  background: #0c58cb;
}

.active {
  background: #0c58cb;
}

.btn-logout {
  color: white;
  background: #dc3545;
  margin: 5px 15px 10px 15px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}

.btn-logout:hover {
  background: #a82734;
}


/* INIT */
.nav-route {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo-title-app {
  margin-top: 30px;
  text-align: center;
  flex: 0 0 auto;
}

.menu-complete {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  min-height: 250px;
}

.footer-user {
  flex: 0 0 auto;
  padding-bottom: 15px;
}

