<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="row">
    <section class="col-6">

      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="nombres"
          class="form-control"
          required
          placeholder="nombres"
          maxlength="100">
        <label>
          Nombres
        </label>
      </div>

      <div class="form-floating mb-3">
        <select
          class="form-select"
          formControlName="tipoDoc"
          >
          @for (item of typesDoc; track $index) {
            <option
              [selected]="$first"
              [value]="item == 'Seleccione' ? '' : item">
              {{ item }}
            </option>
          }
        </select>
        <label>Tipo de documento</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="email"
          class="form-control"
          placeholder="email"
          required
          maxlength="100">
        <label>
          Correo electrónico
        </label>
      </div>

      <div class="form-floating mb-4">
        <select
          class="form-select"
          formControlName="genero"
          >
          @for (item of genders; track $index) {
            <option
              [selected]="$first"
              [value]="item == 'Seleccione' ? '' : item">
              {{ item | titlecase}}
            </option>
          }
        </select>
        <label>Género</label>
      </div>

      <button
        type="button"
        (click)="close()"
        class="btn btn-danger w-100">
        Cancelar
      </button>

    </section>
    <section class="col-6">

      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="apellidos"
          class="form-control"
          required
          placeholder="apellidos"
          maxlength="100">
        <label>
          Apellidos
        </label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="numeroDoc"
          class="form-control"
          placeholder="numdoc"
          required
          minlength="8"
          maxlength="13"
          pattern="[0-9]{1,13}"
          oninput="this.value = this.value.replace(/\D/g, '').slice(0, 13);"
          >
        <label>
          Numero de documento
        </label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="celular"
          class="form-control"
          placeholder="celular"
          required
          minlength="9"
          maxlength="9"
          pattern="[0-9]{1,9}"
          oninput="this.value = this.value.replace(/\D/g, '').slice(0, 9);"
          >
        <label>
          Numero de celular
        </label>
      </div>

      <div class="form-floating mb-4">
        <select
          class="form-select"
          formControlName="rol"
          >
          @for (item of roles; track $index) {
            <option
              [selected]="$first"
              [value]="item == 'Seleccione' ? '' : item">
              {{ item | titlecase }}
            </option>
          }
        </select>
        <label>Rol de usuario</label>
      </div>

      <button
        type="submit"
        class="btn btn-success w-100">
        Registrar
      </button>

    </section>
  </div>
</form>
