<article class="layout">
  <div class="encabezado">
    <hr />
    <h3 style="text-align: left">Gestionar Equipos</h3>
    <hr />
    <div class="row">
      <section class="col-4">
        <search-input
          (emitValue)="setFilterPaginated($event)"
          [initialValue]="optionsPaginated().filtro"
        />
      </section>

      <section class="col-5 d-flex justify-content-end gap-2">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="clearFilters()"
        >
          Quitar filtros
        </button>
        <button type="button" class="btn btn-primary" (click)="openModalAdd()">
          Nuevo Equipo
        </button>
      </section>

      <section class="col-3">
        <actives-inactives-select-dark
          [showActives]="optionsPaginated().estado"
          (stateEmited)="changeState($event)"
        />
      </section>
    </div>
    <hr />
  </div>

  <div class="tabla">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          @for (header of elementsTable; track $index) { @if (header == 'Cierre'
          && !optionsPaginated().estado) {
          <th scope="col">{{ header }}</th>
          } @if (header != 'Cierre') {
          <th scope="col">{{ header }}</th>
          } }
        </tr>
      </thead>
      <tbody>
        @for (team of dataPaginated()?.result; track team.id) {
        <tr>
          <th scope="row">
            {{
              ((dataPaginated()?.page ?? 1) - 1) *
                (dataPaginated()?.size ?? 1) +
                $index +
                1
            }}
          </th>
          <td>{{ team.campania }}</td>
          <td>{{ team.jefeOperacion }}</td>
          <td>{{ team.supervisor }}</td>
          <td>{{ team.integrantesOperativos }}</td>
          <td>{{ team.integrantesInoperativos }}</td>
          <td>{{ team.promedioMensajesDiarios }}</td>
          <td>{{ team.fechaCreacion | date : "dd/MM/yyyy" }}</td>
          @if (team.fechaCierre) {
          <td>{{ team.fechaCierre | date : "dd/MM/yyyy" }}</td>
          }
          <td>
            <div class="d-flex justify-content-center gap-3 action-icons">
              <i
                class="bi bi-eye-fill text-info"
                title="Ver detalles"
                (click)="openModalInfo(team.id)"
              >
              </i>
              <i
                class="bi bi-pencil text-warning"
                title="Modificar"
                (click)="openModalEdit(team.id)"
              >
              </i>
              @if (!team.fechaCierre) {

              <i
                class="bi bi-trash-fill text-danger"
                title="Deshabilitar"
                (click)="openModalDelete(team.id)"
              >
              </i>
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="nav-paginacion">
    <nav-table-dark
      [dataPaginated]="dataPaginated()"
      [isTableWithoutData]="nothingShowInTable()"
      (nextPage)="nextPage($event)"
      (changePage)="changePage($event)"
    />
  </div>
</article>

<!-- <team-info #modalInfo /> -->
<team-add #modalNew (updateTable)="reloadTable($event)" />
<!-- <team-edit #modalEdit />
<team-delete #modalDelete /> -->
