<article class="layout">
  <div class="encabezado">
    <hr />
    <h3 style="text-align: left">Gestionar Sedes</h3>
    <hr />
    <div class="row">
      <section class="col-4">
        <search-input
          (emitValue)="setFilterPaginated($event)"
          [initialValue]="optionsPaginated().filtro"
        />
      </section>

      <section class="col-5 d-flex justify-content-end gap-2">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="clearFilters()"
        >
          Quitar filtros
        </button>
        <button type="button" class="btn btn-primary" (click)="openModalNew()">
          Nueva Sede
        </button>
      </section>

      <section class="col-3">
        <actives-inactives-select-dark
          [showActives]="optionsPaginated().estado"
          (stateEmited)="changeState($event)"
        />
      </section>
    </div>
    <hr />
  </div>

  <div class="tabla">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          @for (header of elementsTable; track $index) {
          <th scope="col">{{ header }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (headquarters of dataPaginated()?.result; track headquarters.id) {
        <tr>
          <th scope="row">
            {{
              ((dataPaginated()?.page ?? 1) - 1) *
                (dataPaginated()?.size ?? 1) +
                $index +
                1
            }}
          </th>
          <td>{{ headquarters.nombre }}</td>
          <td>{{ headquarters.direccion }}</td>
          <td>{{ headquarters.codigoPostal }}</td>
          <td>
            <div class="d-flex justify-content-center gap-3 action-icons">
              @if (headquarters.estado) {
              <i
                class="bi bi-pencil text-warning"
                title="Modificar"
                (click)="openModalEdit(headquarters)"
              >
              </i>
              <i
                class="bi bi-trash-fill text-danger"
                title="Deshabilitar"
                (click)="openModalChangeState(headquarters.id, true)"
              >
              </i>
              } @else {
              <i
                class="bi bi-arrow-up-circle-fill text-success"
                title="Habilitar"
                (click)="openModalChangeState(headquarters.id, false)"
              >
              </i>
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="nav-paginacion">
    <nav-table-dark
      [dataPaginated]="dataPaginated()"
      [isTableWithoutData]="nothingShowInTable()"
      (nextPage)="nextPage($event)"
      (changePage)="changePage($event)"
    />
  </div>
</article>

<headquarters-add #modalNew (updateTable)="reloadTable($event)" />
<headquarters-edit
  #modalEdit
  [dataHeadquarters]="dataHeadquartersEdit()!"
  (updateTable)="reloadTable($event)"
/>
<headquarters-change-state
  #modalChangeState
  [idHeadquarters]="idHeadquartersToChangeState()!"
  [isDelete]="isDelete()"
  (updateTable)="reloadTable($event)"
/>
